body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
    background-color: #B8B8D1;
}

#display{
    width: 92%;
    padding:20px;
    font-size: 5rem;
    text-align: left;
    border:none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#calculator{
    font-family: Arial,sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    
    transform: scale(0.60);
}

#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:25px;
}

button{
    width:100px;
    height: 100px;
    border-radius: 50px;
    border:none;
    background-color: hsl(0,0%,30%);
    font-size: 3rem;
    color:white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}

#calculator h1{
    color: white;
    font-size:50px;
    font-weight: bold;
    text-align: center;
}
